.login_input{
    width: 100%;
    height: 3rem;

    background-color:#fff;
    padding: 0.5rem;
    font-size: 15px;
    border-bottom: 1px solid #ccc;
    resize: none;
    margin-bottom: 30px;
    margin-top: 20px;
}

.login_wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

/* .login-title{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 50px;
    text-align: center;
} */

.label{
    font-size: 20px;
    font-weight: 500;
}

.login_btn{
    width: 30rem;
    height: 3rem;
    margin-top: 10px;
    margin-bottom: 18px;
    color: rgb(58, 48, 138);
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    border-color: #ccc;
    background-color: rgb(235, 235, 235);
}

.login_btn:hover{
border-color: cornflowerblue;
background-color: rgb(97, 92, 136);
color: #fff;
}

.helper-descr{
color: rgb(7, 7, 164);
font-weight: 400;
font-size: 18px;
}

.signup_helper:hover{
color: rgb(154, 0, 0);
font-weight: 500

}



